# Entornos virtuales
env/
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Archivos de entorno
*.env
.env

# Archivos de configuración local
*.log
*.vs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.swp
*.zip
*.rar

# Archivos de Jupyter o datos
*.ipynb_checkpoints
*.csv
*.xlsx
*.xls

# LFS si lo usas
*.exe
*.dll
*.bin
*.iso

